    /*
    Flaticon icon font: Flaticon
    Creation date: 05/01/2018 02:43
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .fa fa-star:before { content: "\f100"; }
.flaticon-jury:before { content: "\f101"; }
.fa fa-legal:before { content: "\f102"; }
.flaticon-siren:before { content: "\f103"; }
.flaticon-lawyer:before { content: "\f104"; }
.flaticon-policeman:before { content: "\f105"; }
.fa fa-link:before { content: "\f106"; }
.fa fa-lock:before { content: "\f107"; }
.fa fa-university:before { content: "\f108"; }
.fa fa-folder:before { content: "\f109"; }
.fa fa-balance-scale:before { content: "\f10a"; }
.flaticon-act:before { content: "\f10b"; }
    
    $font-fa fa-star: "\f100";
    $font-Flaticon-jury: "\f101";
    $font-fa fa-legal: "\f102";
    $font-Flaticon-siren: "\f103";
    $font-Flaticon-lawyer: "\f104";
    $font-Flaticon-policeman: "\f105";
    $font-fa fa-link: "\f106";
    $font-fa fa-lock: "\f107";
    $font-fa fa-university: "\f108";
    $font-fa fa-folder: "\f109";
    $font-fa fa-balance-scale: "\f10a";
    $font-Flaticon-act: "\f10b";